@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  --tw-empty: '';
}

@layer base {
  :root {
    --color-background: hsl(0 0% 100% / <0%>);
    --color-foreground: hsl(0 0% 3.9% / <100%>);
    --card-background: hsl(0 0% 100% / <0%>);
    --card-foreground: hsl(0 0% 3.9% / <100%>);
    --popover-background: hsl(0 0% 100% / <0%>);
    --popover-foreground: hsl(0 0% 3.9% / <100%>);
    --primary-color: hsl(0 0% 9% / <100%>);
    --primary-foreground: hsl(0 0% 98% / <100%>);
    --secondary-color: hsl(0 0% 96.1% / <100%>);
    --secondary-foreground: hsl(0 0% 9% / <100%>);
    --muted-color: hsl(0 0% 96.1% / <100%>);
    --muted-foreground: hsl(0 0% 45.1% / <100%>);
    --accent-color: hsl(0 0% 96.1% / <100%>);
    --accent-foreground: hsl(0 0% 9% / <100%>);
    --destructive-color: hsl(0 84.2% 60.2% / <100%>);
    --destructive-foreground: hsl(0 0% 98% / <100%>);
    --border-color: hsl(0 0% 89.8% / <100%>);
    --input-color: hsl(0 0% 89.8% / <100%>);
    --ring-color: hsl(0 0% 3.9% / <100%>);
    --radius: 0.75rem;
  }

  .dark {
    --color-background: hsl(0 0% 3.9% / <100%>);
    --color-foreground: hsl(0 0% 98% / <100%>);
    --card-background: hsl(0 0% 3.9% / <100%>);
    --card-foreground: hsl(0 0% 98% / <100%>);
    --popover-background: hsl(0 0% 3.9% / <100%>);
    --popover-foreground: hsl(0 0% 98% / <100%>);
    --primary-color: hsl(0 0% 98% / <100%>);
    --primary-foreground: hsl(0 0% 9% / <100%>);
    --secondary-color: hsl(0 0% 14.9% / <100%>);
    --secondary-foreground: hsl(0 0% 98% / <100%>);
    --muted-color: hsl(0 0% 14.9% / <100%>);
    --muted-foreground: hsl(0 0% 63.9% / <100%>);
    --accent-color: hsl(0 0% 14.9% / <100%>);
    --accent-foreground: hsl(0 0% 98% / <100%>);
    --destructive-color: hsl(0 62.8% 30.6% / <100%>);
    --destructive-foreground: hsl(0 0% 98% / <100%>);
    --border-color: hsl(0 0% 14.9% / <100%>);
    --input-color: hsl(0 0% 14.9% / <100%>);
    --ring-color: hsl(0 0% 83.1% / <100%>);
  }
}

@layer base {
  * {
    border-color: var(--border-color);
  }
}
